<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>双飞翼布局</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <header class="header">
        <h4>header</h4>
    </header>
    <main class="main">
        <div class="main__inner__">
            <h4>Main</h4>
            <p>
                Content
            </p>
        </div>
    </main>
    <div class="left">
        <h4>Left</h4>
        <p>Left Side</p>
    </div>
    <div class="right">
        <h4>Right</h4>
        <p>Right Side</p>
    </div>
    <footer class="footer">
        <h4>footer</h4>
    </footer>
</body>
</html>