<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Holy Grail</title>
    <link rel="stylesheet" href="holy_grail.css"/>
</head>
<body>
    <header class="header">
        <h1>Header</h1>
    </header>
    <main class="container">
        <div class="column center">
            <p>Center</p>
        </div>
        <div class="column left">
            <p>Left</p>
        </div>
        <div class="column right">
            <p>Right</p>
        </div>
    </main>
    <footer class="footer">
        <p>Footer</p>
    </footer>
</body>
</html>