* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: #ffbb33;
}

main {
    background: #655;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main h1 {
    color: #fff;
}

.vertical-line {
    position: absolute;
    width: 100%;
    top: 50%;
    border-bottom: 2px dashed #fff;
}

.horizontal-line {
    width: 0;
    height: 701px;
    padding-left: 50%;
    border-right: 2px dashed #fff;
}
