* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: #fb3;
    display: flex;
    min-height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: #655;
    width: 18em;
    height: 10em;
    color: #fff;
}
