* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    background: #fb3;
    min-height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18em;
    height: 12em;
    background: #655;
    color: #fff;
    margin: auto;
}